html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial;
  background-color: grey;
  display: block;
}
.buttons{
  border-radius: 50px;
  font-family: Arial;
  background-color: orange;
  border-width: 0px;
  padding: 20px;
  border-color: black;
  margin: 10px;
  box-shadow: none;
}
.buttons:active{
  opacity: 0.5;
}
