html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial;
  background-color: grey;
  display: flex;
  flex: wrap;
}
.buttons{
  border-raidus: 20px;
  font-family: Arial;
  background-color: lightblue;
  border-color: transparent;
  margin: 10px;
  
}
